body {
  background-color: rgba(14, 92, 92, 0.3);
}
canvas {
  margin: 10px;
  border: 2px solid black;
  width: 40%;
}
div {
  border: 2px solid black;
  margin: 10px;
}
#contSuperior{
    text-align: center;
    margin: auto;

}
#contenedorAhorcado {
    display: none;
}
