body {
  background-color: rgba(14, 92, 92, 0.3);
}
canvas {
  margin: 10px;
  height: auto;
}
div {
  margin: 10px;
  
}
input{
border-radius: 10px 0;
margin: 5px;
padding: 10px;
}

#menu {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  display: inline-flex;
  justify-content:flex-start;
  flex-direction:column;
}

#palabraSecreta {
  text-align: center;
  margin: auto;
  letter-spacing: 10px;
  font-size: 60px;
}
#contenedorAhorcado {
  display: none; 
}
#entradasIncorrectas {
  font-size: 30px;
  color: tomato;
  font-weight: bold;
}
.flexbox-container {
  display: inline-flex;
  justify-content:flex-start;
  flex-direction:row;
}
