body {
  background-color: rgba(14, 92, 92, 0.3);
}
canvas {
  margin: 10px;
  width: 40%;
}
div {
  margin: 10px;
}
#palabraSecreta {
  text-align: center;
  margin: auto;
  letter-spacing: 10px;
  font-size: 60px;
}
#contenedorAhorcado {
  display: none;
}
#entradasIncorrectas {
  font-size: 30px;
  color: tomato;
  
  font-weight: bold;
}
